/*Featured Slider*/
.featured-slider{
	padding:0 0 20px 0;
}
.featured-copy{
	margin:20px 0 0 0;
}
.image-circle{
	border-radius:50%;
}
.featured-copy > .img-circle{
	max-width:300px;
}
.feature-btn-active{
	color:#000;
	border-bottom:2px solid #000;
}
/*CTA Section*/
.call-to-action{
	background-color:#000;
	padding:20px 0 20px 0;
}
.call-to-action h3{
	color:#fff;
}
.call-to-action p{
	color:#fff;
}
.call-to-action input{
	color:#fff;
}
.form-wrap{
	margin 4em 0 0 0;
	border:2px solid #fff;
}
